.chip {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.3rem 0.7rem;
  border-radius: 20px;
  font-size: 0.9rem;
  color: white;
  white-space: nowrap;
}

.restroom {
  background-color: #b49b47;
}
.lecture {
  background-color: #5473b9;
}
.general {
  background-color: #618ea5;
}
.lab {
  background-color: #9b87d4;
}
.advance {
  background-color: #939d93;
}